* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $pFont;
}
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
body > div > a > img {
    display: none !important;
}
