footer{
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background-color: $pColor;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: $breakpoint) {
        padding: 5px 30px;
        flex-direction: row;
        justify-content: space-between;

    }
    > a {
        display: flex;
        width: 100px;
        align-items: center;
        img{
            width: 100%;
        }
    }
}