main.questionsMain {
    h2,
    h3 {
        margin: 20px 0;
    }
    h1 {
        font-size: 1.6em;
        text-align: center;
        padding: 30px 0;
        background-color: $pColor;
        color: #fff;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        color: $pColor;
    }
    section {
        padding: 0 20px;
    }
    .sec1 {
        .image {
            overflow: auto;

            img {
                width: 200vw;
            }
        }
        .fuente {
            a {
                text-decoration: underline;
            }
        }
    }
    .sec2 {
        padding: 50px 20px;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
        background-color: $tColor;
    }
    @media (min-width: $breakpoint) {
        section {
            padding: 0 200px;
        }
        .sec2 {
            padding: 80px 200px 100px;
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
        }
        .sec1 {
            .image {
                overflow: auto;

                img {
                    width: 100%;
                }
            }
        }
        h2,
        h3 {
            margin: 50px 0 30px;
        }
        p {
            font-size: 20px;
        }
        h1 {
            font-size: 2.5em;
            padding: 70px 0;
        }
        h2 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.5em;
        }
    }
}
