@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$pFont : 'Raleway', arial;

$breakpoint: 1000px;

$pColor: #0a043c;
$sColor: #01AAE3;
$tColor: #a3ddcb;
$cColor: #ffe3de;